/* CSS reset */
*{
    margin:0;
    padding:0; 
  box-sizing: border-box;
}
/* CSS variable */
:root{
    --navbar-height:59px;

}
body{
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
}
/* navigation bar */
nav{
    background: transparent;
    height: 70px;
    width: 100%;
   
  }
 .logo{
    color: white;
    /* font-size: 35px; */
    line-height: 80px;
    padding: 5px 25px;
    display: inline;
    font-weight: bold;
  }
  nav ul{
    /* position: fixed; */
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
    /* text-transform: uppercase; */
  }
  a.active,a:hover{
    border:1px solid white;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  select 
  {
    font-size: 17px;
    background: transparent;
    color: white;
    border:none;
    text-transform: uppercase;
  }

  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 70vh;
      background: rgb(15, 15, 15);
      top: 60px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 1;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
/* Home Section */
  #home
{
    display:flex;
    flex-direction: column;
    /* padding:0px 200px; */
    justify-content: center;
    align-items: center;
    height:580px;
    width:100%;
}
#home::before
{
    content:"";
    background:url('../img/table.jpg') no-repeat;
    background-size: cover;
    position:absolute;
    top:0px;
    height:100%;
    width:100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:rgba(248, 240, 240, 0.904);
    text-align: center;
    font-family: 'Lobster';
    margin-bottom:25px;
    font-size: 6rem;
    font-weight: lighter;
}
#home p{
    color:white;
    text-align: center;
    font-family: 'Lobster', cursive;
}
/* About */
.destination
{
  width:60%;
  margin:80px auto;
}
.destination h1
{
font-size: 3.2rem;
font-family: Verdana, Geneva, Tahoma;
  font-weight: bolder;
padding:12px 14px;
}
.destination p{
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  /* Gallery Section */
 
.gallery
{
  margin: 40px 0;
  background-image: url(../img/gallery.png);
  background-size: cover;
  width:100%;
  height:100vh;
  opacity: .8;
}
.gallery h1{
  color: whitesmoke;
  font-size:5.6rem;
  padding-top:25%;
  font-family: 'lobster';
  font-weight: lighter;
}
/* Reach us */
.place
{
    display:flex; 
    margin:35px auto;
}
.Reach-us
{
    width:45%;
     box-shadow: 2px 2px 6px 0px  rgba(0, 0, 0, 0.39);
      padding:25px;
      margin-right: 5%;
      margin-bottom: 5%;
}
.Reach-us h2{
    font-size: 1.8rem;
    font-weight: 600;
    padding:15px 0;
}
.Reach-us #days
{
    color:orangered;
    padding:5px 0;
}
.mapouter
{position:relative;
    text-align:right;
    height:100%;
    width:48%;
    box-shadow: 2px 2px 6px 0px  rgba(0, 0, 0, 0.39);
    /* padding:25px; */
    }
    .gmap_canvas {overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}
@media (max-width:600px)
{
    .place
    {
        flex-direction: column;
    }
    .Reach-us,.mapouter
    {
        width:90%;
    }
}
/* Bottom section */
.contact{
display:flex;
}
.contact #elements
{
  flex-direction: column;
  padding:12px;
  margin:20px 5%;
  justify-content: center;
  width:20%;
  color:rgb(138, 136, 135);
  /*  */
}
#elements h3{
  font-weight: bold;
  font-size: 20px;
  padding:6px 0px;
}
#elements p{
  font-size: small; 
}
#elements p:hover, h3:hover{
  color:blanchedalmond;
  transition-delay:  0.2s;
  cursor: pointer;
} 
#elements i{
  padding:12px 4px;
}
#elements i:hover{
transform: scale(1.125);
color: blanchedalmond;
cursor: pointer;
}
.contact::before{
    content:"";
    position: absolute;
     background: rgb(43, 42, 42);
    width:100%;
    height: 50vh;
    z-index: -1;
    margin-bottom:none;
}

.rights
{
  width:60%;
  margin:5vh auto 0 auto;
  align-items: center;
  text-align: center;
  padding:10px;
  border-top:1px solid blanchedalmond;
  color:rgb(138, 136, 135);
  font-size: 12px;
}

.h-primary
{
    font-size:3.8rem;
    padding:12px;
}
.h-secondary{
    font-size: 2.5rem;
    padding:12px;
}
.btn
{
    padding:6px 20px;
    border:3px solid white;
    background-color: transparent;
    margin-top:17px;
font-size: 2rem;
border-radius: 8px;
opacity: .9;
cursor: pointer;
Color:white;
}
.btn:hover{
/* background-color: brown; */
transform: scale(1.125);
color:white;
}
.center{
    text-align: center;
}
